

/* Header Begin */
header {
  background-color: steelblue;
  padding: 10px;
}
.title-header .title {
  display: inline-block;
  color: black;
  font-size: 18px;
}
.title-header .logo {
  display: inline-block;
  padding: 5px 5px 
}
.title-header .logo img {
  vertical-align: middle;
  height: 200px;
  width: 200px;
  border-radius: 30%;
}
/* Header End */


/* Body Begin */
body {
  background-color: aliceblue;
}
/* Body End */


/* Tables Begin */
table, th, td {
  border: 4px solid;
  width: 100%;
  table-layout: fixed;
  border-top-color: steelblue;
  border-left-color: steelblue;
  border-spacing: 0.5px;
  min-height: 200px;
}

td {
  padding: 0 10px;
  vertical-align: top;
}

td h3 {
  text-align: center;
  word-wrap: break-word;
}

td ul {
  list-style: none;
  padding: 0px 10px;
  word-wrap: break-word;
}
td p {
  word-wrap: break-word;
}

td li {
  padding: 5px 0px;
}

.home-tr a{
  text-decoration: none;
  color: steelblue;
}
.home-tr a:hover {
  text-decoration: underline;
}

.circuit-td {
  background-image: url('https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExbnd4M3Zzbmx4b20zajlzaDU5YmN2OHVlM3M2aHhvb3oxOTM2dWNzdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/xTiTnxpQ3ghPiB2Hp6/giphy.gif');
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #00e5ff;
  border: 2px solid #00ccff;
  min-height: 300px;
}
.circuit-td h3 {
  word-wrap: break-word;
}
.circuit-td ul {
  word-wrap: break-word;
}
.circuit-td a {
  text-decoration: none;
  color: #00e5ff;
}
.circuit-td a:hover {
  text-decoration: underline;
  color: #00ccff; 
  text-shadow: 0 0 5px #00ccff, 0 0 10px #00ccff;
}

.firewall-td{
  background-image: url('https://www.transparenttextures.com/patterns/dark-mosaic.png');
  background-size: cover;
  color: #ff4c4c; /* glowing red text */
  border: 2px solid #ff1a1a;
  box-shadow: inset 0 0 20px rgba(255, 0, 0, 0.7); /* red inner glow */
}
.firewall-td h3 {
  background-color: rgba(50, 0, 0, 0.85);
  color: #ff6666;
  padding: 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-wrap: break-word;
  white-space: normal;

}
.firewall-td ul a {
  word-wrap: break-word;
}
.firewall-td ul {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 5px;
}
.firewall-td a {
  text-decoration: none;
  color: #ff3d3d;
}
.firewall-td a:hover {
  text-decoration: underline;
  color: #ff3d3d; 
  text-shadow: 0 0 5px #ff3d3d, 0 0 10px #ff3d3d;
}

.matrix-td {
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/c/cc/Digital_rain_animation_medium_letters_shine.gif');  
  background-size: cover;
  padding: 10px;
  border: 1px solid #00ff00;
  
}
.matrix-td h3, .matrix-td li, .matrix-td a{
  text-decoration: none;
  color: #00ff00;
  font-family: "Courier New", monospace;
  width: 100%;
  border-collapse: collapse;
  word-wrap: break-word;
}
.matrix-td a:hover {
  text-decoration: underline;
  color: #00ff00; /* shift to green */
  text-shadow: 0 0 5px #00ff00, 0 0 10px #00ff00; /* glowing effect */
}
/* Tables End */


.tech-logos p img {
  vertical-align: middle;
  height: 30px;
  width: 30px;
  padding: 5px 5px;
  border-radius: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 100%;
  box-sizing: border-box;

}



/* Navigation Links Begin*/
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;  
  gap: 15px;
  text-align: center;
}
.link-wrapper {
  display: flex;
  text-align: center;
  position: relative;
}
.link-wrapper a {
  text-decoration: none;
  color: black;
  padding-bottom: 3px;
  display: inline-block;
  position: relative;
}
.nav-links a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: 0;
  background-color: aliceblue; /* underline color */
  transition: all 0.6s ease;
}
.nav-links a:hover::before {
  left: 0;
  width: 100%;
}
.divider {
  margin-left: 10px;
  color: black;
}
/* Navigation Links End */
  
/* Resume Format Begin */

.resume-format p {
  padding: 0 15px;

}
.resume-format h4 {
  display: inline;
}

/* Resume Format End */

/* Footer Begin */
footer {
  background-color: cornflowerblue;
  padding: 10px;
}
footer a {
  position: relative;
  color: black;
  text-decoration: none;
}
footer a::before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: -3px;
  background-color: aliceblue; /* underline color */
  transition: all 0.6s ease;
}
footer a:hover::before {
  left: 0;
  width: 100%;
}
footer ul {
  list-style: none;
  padding-left: 5px;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}
footer ul img {
  height: 20px;
  width: 20px;
  padding: 5px 5px;
  vertical-align: middle;
}
/* Footer End */



body, table, th, td {
  width: 95%;
  max-width: 1500px;
  margin: 0 auto;
}